ul.result-boxes {
  width: 100%;
  list-style: none;
  margin: 0;
  position: relative;
  padding: 0;
  li {
    position: absolute;
    background: #eee;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

table.frequency-table {
  tr {
    td:first-child, th:first-child {
      text-align: right;
      width: 100px;
    }

    td.is-excessive {
      color: #fff;
      background: #e53;
    }

    td.is-ok {
      background: #9fa;
    }

  }
}

.success-rate {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  span {
    display: inline-block;
    color: #fff;
    flex-grow: 0;
  }
  span:first-child {
    background: #e53;
  }
  span:nth-child(2) {
    color: #000;
    background: #9fa;
  }
}